head
  title Short.me - Url shortner

body
  h1.title Welcome to short.me!
  label(for='url' class='url-input-label') Type the url you want to short
  input(
    type='url'
    placeholder='https://example.com'
    name='url'
    class='url-input-field'
  )
  button(
    id='send-button'
  ) Create Short URL
  div(class='short-url-container')
    a(class='short-url-text')
  script(src='/static/js/index-min.js')