head
  link(rel='stylesheet', type='text/css', href='/static/vendor/css/bootstrap.min.css')
  title YAUS - Yet Another URL Shortener

body
  h1.title Welcome to YAUS
  label(for='url' class='url-input-label') Type the url you want to short
  div(class='form-group')
    input(
      type='url'
      placeholder='https://example.com'
      name='url'
      class='url-input-field form-control'
    )
    button(
      id='send-button'
      class='btn btn-default'
    ) Create Short URL
  div(class='short-url-container')
    a(class='short-url-text')
  script(src='/static/js/index.js')